<!-- eslint-disable vue/multi-word-component-names -->

<template>
    <div class="container">
      <h1 style="text-align: center">Data Table User</h1>
      <button
        type="submit"
        class="btn btn-success btn-sm btn-block"
        @click.prevent="addData()"
      >
        Add Data
      </button>
      <table
        id="myTable"
        class="table table-striped table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>username</th>
            <th>created_at</th>
          </tr>
        </thead>
      </table>
    </div>
  </template>
  
  <script>
    import $ from "jquery";
    import axios from 'axios'
    import { uuid } from 'vue-uuid'
    import moment from 'moment'
    import CustomNotification from '@/helpers/custom-notification'
    
  export default {
    data() {
    return {
    }
  },
    created(){
        this.getDataTable();
    },
    methods: {
    addData(){
        this.$router.push({
              name: 'registration',
            })
    },
    getDataTable() {
        const token = localStorage.getItem('accessToken')
      axios({
        url: 'http://127.0.1.199:8000/index',
        method: 'get',
        params: {
          request_id: uuid.v4(),
          request_date_time: moment(new Date()).format('YYYY-MM-DD H:mm:s'),
        },
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then(result => {
          if(result.data.response_code === '00')
          {
        $("#myTable").DataTable({
          data: result.data.data,
          columns: [
              { data: "id" },
              { data: "username" },
              { data: "created_at" },
          ],
          });
          }else {
            this.username = ''
            this.password = ''
            localStorage.removeItem('accessToken')
          }
          
        })
        .catch(error => {
          const errorMessage = `Mohon ulangi beberapa saat kembali. [${error.response.status}]`
          CustomNotification.notif('warning', 'Gagal mendapatkan role', errorMessage)

          if (error.response.status && error.response.status === 401) {
            localStorage.removeItem('accessToken')
            localStorage.removeItem('userData')
          }
          this.showPosisi = false
        })
    },
  },
  };
  </script>
  
  <style>
  </style>