<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="vue-tempalte">
    <form>
      <h3>Sign In</h3>

      <div class="form-group">
        <label>username</label>
        <input
          v-model="username"
          type="text"
          class="form-control form-control-lg"
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          v-model="password"
          type="password"
          class="form-control form-control-lg"
        />
      </div>

      <button
        type="submit"
        class="btn btn-dark btn-lg btn-block"
        @click.prevent="login_btn()"
      >
        Sign In
      </button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import { uuid } from 'vue-uuid'
import moment from 'moment'
import CustomNotification from '@/helpers/custom-notification'
export default {
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    login_btn() {
      this.showPosisi = true
      console.log('username', this.username)
      axios({
        url: 'http://127.0.1.199:8000/login',
        method: 'post',
        params: {
          request_id: uuid.v4(),
          request_date_time: moment(new Date()).format('YYYY-MM-DD H:mm:s'),
          username : this.username,
          password : this.password
        },
      })
        .then(result => {
          if(result.data.response_code === '00')
          {
            this.token = result.data.data.token
            localStorage.setItem('accessToken',this.token)
            this.$router.push({
              name: 'DataTable',
            })
          }else {
            this.username = ''
            this.password = ''
            localStorage.removeItem('accessToken')
            localStorage.removeItem('userData')
          }
          
        })
        .catch(error => {
          const errorMessage = `Mohon ulangi beberapa saat kembali. [${error.response.status}]`
          CustomNotification.notif('warning', 'Gagal mendapatkan role', errorMessage)

          if (error.response.status && error.response.status === 401) {
            localStorage.removeItem('accessToken')
            localStorage.removeItem('userData')
          }
          this.showPosisi = false
        })
    },
  },
}
</script>
