<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="vue-template">
    <form>
      <h3>Add Data</h3>

      <div class="form-group">
        <label>Username</label>
        <input
          v-model="username"
          type="text"
          class="form-control form-control-lg"
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          v-model="password"
          type="password"
          class="form-control form-control-lg"
        />
      </div>

      <button
        type="submit"
        class="btn btn-success btn-sm btn-block"
        @click.prevent="saveData()"
      >
        Save
      </button>
      <b-button
        v-ripple.400="'rgba(186, 191, 199, 0.15)'"
        class="btn btn-danger btn-sm btn-block"
        @click.prevent="Back()"
      >
        Back
      </b-button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import { uuid } from 'vue-uuid'
import moment from 'moment'
import CustomNotification from '@/helpers/custom-notification'
export default {
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    Back(){
        this.$router.push({
              name: 'DataTable',
            })
    },
    saveData() {
      const token = localStorage.getItem('accessToken')
      axios({
        url: 'http://127.0.1.199:8000/store',
        method: 'post',
        params: {
          request_id: uuid.v4(),
          request_date_time: moment(new Date()).format('YYYY-MM-DD H:mm:s'),
          data: {
            username: this.username,
            password: this.password,
          },
        },
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then(result => {
          if (result.data.response_code === '00') {
            this.$router.push({
              name: 'DataTable',
            })
          } else {
            this.username = ''
            this.password = ''
          }
        })
        .catch(error => {
          const errorMessage = `Mohon ulangi beberapa saat kembali. [${error.response.status}]`
          CustomNotification.notif(
            'warning',
            'Gagal mendapatkan role',
            errorMessage
          )

          if (error.response.status && error.response.status === 401) {
            localStorage.removeItem('accessToken')
            localStorage.removeItem('userData')
          }
          this.showPosisi = false
        })
    },
  },
}
</script>
