<template>
  <div class="vue-template">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button 
  type="submit" 
  class="btn btn-danger btn-sm btn-block"
  @click.prevent="logout()"
  >
    Logout
  </button>
    </nav>
 
    <!-- Main -->
    <div class="App">
      <div class="vertical-center">
        <div class="inner-block">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { uuid } from 'vue-uuid'
import moment from 'moment'
import CustomNotification from '@/helpers/custom-notification'
export default {
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    logout() {
      const token = localStorage.getItem('accessToken')
      axios({
        url: 'http://127.0.1.199:8000/logout',
        method: 'get',
        params: {
          request_id: uuid.v4(),
          request_date_time: moment(new Date()).format('YYYY-MM-DD H:mm:s'),
        },
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then(result => {
          if(result.data.response_code === '00')
          {
            localStorage.removeItem('accessToken')
            this.$router.push({
              name: 'login',
            })
          }
          
        })
        .catch(error => {
          const errorMessage = `Mohon ulangi beberapa saat kembali. [${error.response.status}]`
          CustomNotification.notif('warning', 'Gagal mendapatkan role', errorMessage)

          if (error.response.status && error.response.status === 401) {
            localStorage.removeItem('accessToken')
            localStorage.removeItem('userData')
          }
          this.showPosisi = false
        })
    },
  },
}
</script>